* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #5f5656;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 45px;
  margin-top: 30px;
  color: #fff;
}

.descrip {
  width: 80%;
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(253, 185, 0);
  height: 90px;
  position: fixed;
  z-index: 1;
}

.logo {
  background-image: url('./assets/logo2.png');
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 3%;
}

.header-text {
  width: 30%;
}

.header-text ul {
  display: flex;
  padding-top: 2rem;
}

.header-text li a {
  color: #000;
  font-weight: 700;
  padding: 26px;
}

header img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  height: 90px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-bottom: 40px;
  margin-top: 100px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  gap: 6px;
  padding: 15px;
  border-radius: 25px;
  background-color: #222;
  color: #fff;
}

.img-container {
  width: 65%;
  height: 60%;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.like-comment {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  height: 80px;
}

.number-of-likes {
  display: flex;
  width: 80%;
  justify-content: end;
  font-size: 18px;
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment-btn {
  width: 30%;
  padding: 6px;
  background: rgb(253, 185, 0);
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
}

.reservation-btn {
  width: 35%;
  padding: 6px;
  background: rgb(253, 185, 0);
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-size: 20px;
  background-color: #000;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header-text ul {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .header-text {
    width: 46%;
  }

  .header-text ul {
    display: flex;
  }
}

/* Comment popup section */
.overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}

.popup-container {
  background: #fff;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  overflow: scroll;
  border: 13px solid #222;
  padding: 20px;
  color: #000;
  position: relative;
}

.popup-image {
  width: 28%;
  height: 33%;
  margin-top: 10%;
}

.close-btn {
  position: absolute;
  top: 0;
  font-size: 66px;
  background: none;
  border: none;
  color: red;
  right: 0;
}

.popup-food-name,
.comments-title,
.form-title {
  font-size: 25px;
}

.popup-item-details-container {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 300px;
  text-align: center;
}

.comments-div {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .popup-container {
    width: 90%;
    padding: 10px;
  }

  .popup-img {
    width: 70%;
    height: auto;
    margin-top: 2%;
  }

  .close-btn {
    font-size: 40px;
  }

  .popup-food-name,
  .comments-title,
  .form-title {
    font-size: 20px;
  }

  .popup-item-details-container {
    grid-template-columns: 1fr;
    column-gap: 0;
    text-align: left;
  }

  .popup-item-details-container p {
    text-align: left;
  }

  .comments-div p {
    font-size: 14px;
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
